#fourp{
	width: 100%;
	display: flex;
	flex-direction: row;
}

#nda{
	width: 50%;
}

#ndaside{
	width: 50%;
}

#ndai{
	width: 100%;
}

#ndatitle{
	padding: 5%;
}

#ndainfo{
	display: flex;
	flex-direction: row;
	padding:5%;
}

