
body{
	margin: 0px;
}

#fpage{
	background-image: url("fpbg.jpg");
	background-size: cover;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	height: 500px;
	
}

#fpage > div{
	flex-shrink: 1;
}


#image > img{
	height: 200px;
	
}


