#spage{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;

}

#spage > div{
	flex-shrink: 1;
}

#tafs{
	display: flex;
	flex-direction: row;
	width: 100%;
}

#school{
	/*background-color: red;*/
	width: 70%;

}

#s2{
	text-align: left;
}

#highschool{
	text-align: center;
	vertical-align: middle;

}


#nsit{
	display: flex;
	flex-direction: row;
	width: 100%;
}

#college{
	width: 70%;

}

#c2{
	text-align: left;
}

#grad{
	text-align: center;
	vertical-align: middle;

}

#eduside{
	background-image: url("spage.jpg");
	background-size: cover;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	width: 50%;

}



#cc{
	height: 55%;
	width: 90%;
}

#sc{
	height: 55%;
	width: 90%;
}

#hp{
	align-self: flex-start;
}

#edutitle{
	padding-left: 4.9%;
	padding-right: 4.9%;
}

#tafs{
	padding-left: 4.9%;
	padding-right: 4.9%;
}

#nsit{
	padding-left: 4.9%;
	padding-right: 4.9%;
}

#s1{
	padding-left: 4.9%;
}

#c1{
	padding-left: 4.9%;
}
#s2{
	padding-left: 4.9%;
}

#c2{
	padding-left: 4.9%;
}

#ccd{

}



#hp{
	padding-left: 61%;
}

#fp{
	padding-left: 86%;
}




