#tpage{
	height: 110%;
	padding: 3%;
}

#ttitle{
	width: 100%;
	height: 10%;
	/*background-color: red;*/
}

#tcon{
	width: 100%;
	height: 100%;
	/*background-color: green;*/
	display: flex;
	flex-wrap: wrap;
}

#tcon>div{
	width: 50%;
	height: 15%;
}

