#tpage{
	height: 800px;
	padding: 3%;
}

#ttitle{
	width: 100%;
	height: 10%;
	/*background-color: red;*/
}

#tcon{
	width: 100%;
	height: 100%;
	/*background-color: green;*/
	display: flex;
	flex-wrap: wrap;
}

#tcon>div{
	width: 50%;
	height: 15%;
}

#tcon > div > img{
	width: 6%;
}



@media only screen and (max-width: 1200px) {
    
	#tpage{
		height: 1700px;
	}


	#tcon>div{
		width: 80%;
		height: 6%;
		margin-bottom: 0.5%;
	}

}



@media only screen and (max-width: 674px) {
    
    
	#tpage{
		height: 1700px;
	}


	#tcon>div{
		width: 100%;
		height: 7%;
		margin-bottom: 0.5%;
	}


}

@media only screen and (max-width: 540px) {
    
    
	#tpage{
		height: 1400px;
	}

	#tcon>div{
		width: 80%;
		height: 6%;
		margin-bottom: 0.5%;
	}


}

@media only screen and (max-width: 470px) {
    
    
	#tpage{
		height: 1400px;
	}

	#tcon>div{
		width: 100%;
		height: 6%;
		margin-bottom: 0.5%;
	}


}

@media only screen and (max-width: 420px) {
    
    
	#tpage{
		height: 1000px;
	}

	#tcon>div{
		width: 100%;
		height: 7%;
		margin-bottom: 0.5%;
	}


}

@media only screen and (max-width: 370px) {
    
    
	#tpage{
		height: 800px;
	}

	#tcon>div{
		width: 100%;
		height: 7%;
		margin-bottom: 0.5%;
	}


}